@import url("https://fonts.googleapis.com/css?family=Eater|Montserrat|Raleway");
/* line 2, style.scss */

:root {
	--bg-i: #8B4B4B;
	--text: #080808;
	--link: #A67171;
	--bg-a: #B22222;
	--bg: #B7B7B7;
	--title: Eater;
	--texto: Raleway;
}

/* line 12, style.scss */

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: var(--text);
}

/* line 19, style.scss */

a {
	text-decoration: none;
}

/**::before {
	content: attr(class);
	background: hsl(180, 50%, 50%);
	color: blueviolet;
}*/

/* line 29, style.scss */

body {
	background: var(--bg);
}

/* line 33, style.scss */

.logo,
main {
	width: 80%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

/* line 41, style.scss */

header {
	background: var(--bg-a);
	width: 100vw;
	position: fixed;
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
	z-index: 10;
}

/* line 47, style.scss */

header .logo {
	text-align: center;
}

/* line 49, style.scss */

header .logo .web-name {
	font-size: 2rem;
	text-transform: capitalize;
	font-family: var(--title), helvetica;
	display: inline-block;
}

/* line 54, style.scss */

header .logo .web-name:hover {
	cursor: pointer;
	-webkit-animation: tiembla .01s infinite;
	animation: tiembla .01s infinite;
}

/* line 59, style.scss */

header .logo .web-slogan {
	font-size: 1rem;
	font-family: var(--texto);
}

/* line 66, style.scss */

header nav ul,
header nav lo {
	list-style: none;
	background: var(--bb-i);
}

/* line 71, style.scss */

header nav > ul {
	width: 80%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

/* line 76, style.scss */

header nav > ul a {
	display: block;
	padding: 8px 25px;
	font-size: 1.3rem;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: var(--link);
}

/* line 84, style.scss */

header nav > ul a:hover {
	background: var(--bg-i);
}

/* line 89, style.scss */

header nav > ul > li {
	float: left;
}

/* line 91, style.scss */

header nav > ul > li:hover ul {
	max-height: 50vh;
}

/* line 95, style.scss */

header nav > ul ul {
	display: block;
	background: var(--bg-a);
	position: absolute;
	overflow: hidden;
	max-height: 0;
	-webkit-transition: all 1s;
	transition: all 1s;
	z-index: 1;
}

/* line 108, style.scss */

main {
	padding-top: 130px;
	font-family: var(--texto), sans-serif;
}

/* line 111, style.scss */

main article {
	width: 100%;
	height: 50vh;
	background: #fff;
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 0 10px 10px;
	border: 1px solid red;
	-webkit-box-shadow: 0 0 10px #333;
	box-shadow: 0 0 10px #333;
}

/* line 120, style.scss */

main article .header-article {
	padding-top: 5px;
	height: 25%;
}

/* line 123, style.scss */

main article .header-article .title {
	text-align: center;
	width: 100%;
}

/* line 127, style.scss */

main article .header-article .cat-by {
	font-size: .9rem;
}

/* line 129, style.scss */

main article .header-article .cat-by .cat,
main article .header-article .cat-by .autor {
	cursor: pointer;
}

/* line 132, style.scss */

main article .header-article .cat-by .cat:hover,
main article .header-article .cat-by .autor:hover {
	text-decoration: underline;
}

/* line 139, style.scss */

main article .thumbnail {
	width: 20%;
	height: 75%;
	float: left;
}

/* line 143, style.scss */

main article .thumbnail img {
	height: 100%;
	padding: 10px;
	border: 1px solid #000;
}

/* line 149, style.scss */

main article .data {
	width: 79%;
	float: right;
	font-size: .9rem;
	padding: 0 10px;
	height: 75%;
	overflow: hidden;
	padding: 0 0 0 10px;
}

/* line 157, style.scss */

main article .data .descrip {
	height: 82%;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* line 164, style.scss */

main .paginacion {
	margin-top: 20px;
	-ms-flex-line-pack: center;
	align-content: center;
}

/* line 167, style.scss */

main .paginacion ul {
	list-style: none;
}

/* line 169, style.scss */

main .paginacion ul li {
	float: left;
	margin-left: 10px;
}

/* line 172, style.scss */

main .paginacion ul li a {
	padding: 5px;
	display: block;
	border-radius: 4px;
	border: 1px solid firebrick;
}

/* line 177, style.scss */

main .paginacion ul li a:active,
main .paginacion ul li a:hover,
main .paginacion ul li a .active {
	background: firebrick;
}

/* line 188, style.scss */

.add-menu {
	width: 150px;
	border-radius: 5px 0 0 5px;
	position: fixed;
	z-index: 50;
	top: 150px;
	right: 0;
}

/* line 195, style.scss */

.add-menu .social-link {
	list-style: none;
}

/* line 198, style.scss */

.add-menu .social-link li a {
	background: #fff;
	position: relative;
	padding: 10px 10px;
	display: block;
	-webkit-transition: all 1.5s ease;
	transition: all 1.5s ease;
	-webkit-transform: translateX(125px);
	transform: translateX(125px);
	border-radius: 10px;
}

/* line 206, style.scss */

.add-menu .social-link li a [href*="facebook.com"] {
	background: lime;
	color: red;
}

/* line 209, style.scss */

.add-menu .social-link li a [href*="facebook.com"]:hover {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	border-radius: 0;
	background: lime;
	color: red;
	font-weight: bold;
}

/* line 222, style.scss */

.clear {
	clear: both;
}

/* line 226, style.scss */

footer {
	margin-top: 100px;
	background: var(--bg-a);
	position: relative;
}

/* line 230, style.scss */

footer .nav-footer {
	width: 80%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	padding-bottom: 50px;
}

/* line 237, style.scss */

footer .nav-footer ul {
	list-style: none;
}

/* line 239, style.scss */

footer .nav-footer ul li {
	float: left;
}

/* line 241, style.scss */

footer .nav-footer ul li a {
	display: block;
	padding: 3px 8px;
	color: white;
	background: var(--bg-i);
	margin-right: 3px;
	border-radius: 5px;
}

/* line 251, style.scss */

footer .copy {
	padding: 10px;
	text-align: center;
}

/* line 255, style.scss */

footer .by {
	display: block;
	position: absolute;
	bottom: 10px;
	right: 15px;
}

@-webkit-keyframes tiembla {
	0% {
		-webkit-transform: rotate(1deg);
		transform: rotate(1deg);
	}
	50% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-1deg);
		transform: rotate(-1deg);
	}
}

@keyframes tiembla {
	0% {
		-webkit-transform: rotate(1deg);
		transform: rotate(1deg);
	}
	50% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-1deg);
		transform: rotate(-1deg);
	}
}
