@import url("https://fonts.googleapis.com/css?family=Eater|Montserrat|Raleway");
/* line 2, style.scss */
:root {
  --bg-i: #8B4B4B;
  --text: #080808;
  --link: #A67171;
  --bg-a: #B22222;
  --bg: #fff;
  --title: Eater;
  --texto: Raleway;
}

/* line 12, style.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--text);
}

/* line 19, style.scss */
a {
  text-decoration: none;
}

/**::before {
	content: attr(class);
	background: hsl(180, 50%, 50%);
	color: blueviolet;
}*/
/* line 29, style.scss */
body {
  background: var(--bg);
}

/* line 33, style.scss */
.logo,
main {
  width: 80%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* line 41, style.scss */
header {
  background: var(--bg-a);
  width: 100%;
  position: fixed;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  z-index: 10;
}
/* line 47, style.scss */
header .logo {
  text-align: center;
}
/* line 49, style.scss */
header .logo .web-name {
  font-size: 2rem;
  text-transform: capitalize;
  font-family: var(--title), helvetica;
  display: inline-block;
}
/* line 54, style.scss */
header .logo .web-name:hover {
  cursor: pointer;
  -webkit-animation: tiembla .01s infinite;
          animation: tiembla .01s infinite;
}
/* line 59, style.scss */
header .logo .web-slogan {
  font-size: 1rem;
  text-transform: capitalize;
  text-decoration: underline;
  color: white;
  font-family: var(--texto);
}
/* line 67, style.scss */
header nav {
  background: #262626;
  overflow: hidden;
  -webkit-box-shadow: 0 -4px 0 #fff;
          box-shadow: 0 -4px 0 #fff;
  margin-top: 10px;
}
/* line 72, style.scss */
header nav ul,
header nav lo {
  list-style: none;
  background: var(--bb-i);
}
/* line 77, style.scss */
header nav > ul {
  width: 80%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
/* line 82, style.scss */
header nav > ul a {
  background: #262626;
  display: block;
  padding: 8px 25px;
  font-size: 1.3rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: var(--link);
  text-transform: capitalize;
}
/* line 92, style.scss */
header nav > ul a:hover {
  background: var(--bg-a);
}
/* line 97, style.scss */
header nav > ul > li {
  float: left;
}
/* line 99, style.scss */
header nav > ul > li:hover ul {
  max-height: 50vh;
}
/* line 103, style.scss */
header nav > ul ul {
  display: block;
  background: var(--bg-a);
  position: absolute;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 1;
}

/* line 116, style.scss */
main {
  padding-top: 140px;
  font-family: var(--texto), sans-serif;
  min-height: 435px;
}
/* line 120, style.scss */
main article {
  width: 100%;
  height: 50vh;
  background: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 0 10px 10px;
  border: 1px solid red;
  -webkit-box-shadow: 0 0 10px #333;
          box-shadow: 0 0 10px #333;
  position: relative;
}
/* line 130, style.scss */
main article .header-article {
  text-transform: capitalize;
  padding-top: 5px;
  height: 25%;
}
/* line 134, style.scss */
main article .header-article .title {
  text-align: center;
  width: 100%;
}
/* line 138, style.scss */
main article .header-article .cat-by {
  font-size: .9rem;
}
/* line 140, style.scss */
main article .header-article .cat-by .cat,
main article .header-article .cat-by .autor {
  cursor: pointer;
}
/* line 143, style.scss */
main article .header-article .cat-by .cat:hover,
main article .header-article .cat-by .autor:hover {
  text-decoration: underline;
}
/* line 150, style.scss */
main article .thumbnail {
  width: 20%;
  height: 75%;
  float: left;
}
/* line 154, style.scss */
main article .thumbnail img {
  height: 100%;
  padding: 10px;
  border: 1px solid #000;
}
/* line 160, style.scss */
main article .data {
  width: 79%;
  float: right;
  font-size: .9rem;
  padding: 0 10px;
  height: 75%;
  overflow: hidden;
  padding: 0 0 0 10px;
}
/* line 168, style.scss */
main article .data .descrip {
  height: 82%;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 174, style.scss */
main article .view {
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-animation: tiembla2 .5s infinite alternate;
          animation: tiembla2 .5s infinite alternate;
}
/* line 179, style.scss */
main article .view:hover {
  cursor: alias;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
/* line 185, style.scss */
main .paginacion {
  margin-top: 20px;
  -ms-flex-line-pack: center;
      align-content: center;
}
/* line 188, style.scss */
main .paginacion ul {
  list-style: none;
}
/* line 190, style.scss */
main .paginacion ul li {
  float: left;
  margin-left: 10px;
}
/* line 193, style.scss */
main .paginacion ul li a {
  padding: 5px;
  display: block;
  border-radius: 4px;
  border: 1px solid firebrick;
}
/* line 198, style.scss */
main .paginacion ul li a:active, main .paginacion ul li a:hover,
main .paginacion ul li a .active {
  background: firebrick;
  color: white;
}

/* line 210, style.scss */
.add-menu {
  width: 150px;
  border-radius: 5px 0 0 5px;
  position: fixed;
  z-index: 50;
  top: 150px;
  right: 0;
}
/* line 217, style.scss */
.add-menu .social-link {
  list-style: none;
}
/* line 220, style.scss */
.add-menu .social-link li a {
  background: #fff;
  position: relative;
  display: block;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
  -webkit-transform: translateX(115px);
          transform: translateX(115px);
  border-radius: 10px;
  color: black;
}
/* line 228, style.scss */
.add-menu .social-link li a:hover {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  border-radius: 0;
  background: lime;
  color: red;
  font-weight: bold;
}
/* line 235, style.scss */
.add-menu .social-link li a span {
  display: block;
  padding: 5px;
  width: 35px;
  height: 35px;
  font-size: 1.5rem;
  color: white;
  background: blue;
}

/* line 250, style.scss */
.clear {
  clear: both;
}

/* line 254, style.scss */
footer {
  text-transform: capitalize;
  margin-top: 100px;
  background: var(--bg-a);
  position: relative;
}
/* line 259, style.scss */
footer .nav-footer {
  width: 80%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 50px;
}
/* line 266, style.scss */
footer .nav-footer ul {
  list-style: none;
}
/* line 268, style.scss */
footer .nav-footer ul li {
  float: left;
}
/* line 270, style.scss */
footer .nav-footer ul li a {
  display: block;
  padding: 3px 8px;
  background: var(--bg-i);
  margin-right: 3px;
  border-radius: 5px;
}
/* line 276, style.scss */
footer .nav-footer ul li a:hover {
  color: white;
  -webkit-box-shadow: 0 0 0 1px #fff;
          box-shadow: 0 0 0 1px #fff;
}
/* line 284, style.scss */
footer .copy {
  padding: 10px;
  text-align: center;
}
/* line 288, style.scss */
footer .by {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 15px;
}

@-webkit-keyframes tiembla {
  0% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}

@keyframes tiembla {
  0% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}
@-webkit-keyframes tiembla2 {
  0%,
	50%,
	100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  75% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}
@keyframes tiembla2 {
  0%,
	50%,
	100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  75% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}
